
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
app/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
app/.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/app/public/assets/
/app/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/coverage
.idea/
