###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
app/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
app/.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/app/public/assets/
/app/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/coverage
.idea/

# Composer files
/composer.lock
/autoload.php
/autoload_namespaces.php
/autoload_psr4.php

# Docker files
/compose.override.yaml
/compose.yaml

# Symfony 3 lock file
/symfony3.lock

# Symfony media and uploads
/public/uploads/
/public/media/

# Logs and temporary files
*.log
*.sql

/bin/
!.gitignore
!.htaccess
!.env.example
